/* The switch - ((the box around the slider)) */
body {
  background-color: darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Hide default HTML checkbox */
  input {
    display: flex;
    opacity: 0;
    width: 0;
    height: 0; 
  }

.switch3{
  position: relative;
  height: 50px;
  justify-content: space-around;
  background-color: #2196f3;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}

.switch3 div {
  display: flex;
  align-items: center;
}

label{
  padding: 1rem;
  z-index:1;
  flex: 1;
}
.switch3::before{
  content: '';
  position: absolute;
  width: 34%;
  height: 100%;
  background: #14142a;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: .5;
  transition: .5s left ease;
}

.switch3:has(#switch3-radio1:checked)::before{
  left: 0%;
}
.switch3:has(#switch3-radio2:checked)::before{
  left: 33%;
}
.switch3:has(#switch3-radio3:checked)::before{
  left: 66%;
}


/* Pump effect default 0 for no pumping*/
.switch3-container {
  display: flex;
  align-items: center;
  flex: 1;
  animation: screenPump 0s infinite alternate;
  max-width: 70vw;
  
}

@keyframes screenPump {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}